{% extends "home.html"%}
{% load static %}


{% block link %}
        
{% endblock%}

{% block title %} Tareas {% endblock %}


{% block content %}
    
    <h3>Tareas</h3>

    <a href="{% url 'agg_tareas' %}" class="btn btn-success main-add-button" title="Agregar"> <i class="fa fa-plus"></i></a>


        {% if tareas %}
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Lista de Categorías</h6>
                
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tarea</th>
                                    <th>Descripción</th>
                                    <th>Categoría</th>
                                    <th>Prioridad</th>
                                    <th>Status</th>
                                    <th>Asignación</th>
                                    <th>Creación</th>
                                    <th>Porcentaje</th>
                                    <th>Fecha creación</th>
                                    <th>Fecha Final</th>
                                    <th style="width:9%">Acción</th>
                                </tr>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Tarea</th>
                                    <th>Descripción</th>
                                    <th>Categoría</th>
                                    <th>Prioridad</th>
                                    <th>Status</th>
                                    <th>Asignación</th>
                                    <th>Creación</th>
                                    <th>Porcentaje</th>
                                    <th>Fecha creación</th>
                                    <th>Fecha Final</th>
                                    <th>Acción</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for tarea in tareas %}
                                    <tr>
                                        <td>{{ tarea.id}}</td>
                                        <td>{{ tarea.tarea}}</td>
                                        <td>{{ tarea.descripcion}}</td>
                                        <td>{{ tarea.categoria}}</td>
                                        <td>{{ tarea.prioridad.prioridad}}</td>
                                        <td>{{ tarea.status.status}}</td>
                                        <td>{{ tarea.user.username}}</td>
                                        <td>{{ tarea.CreadaPor.username}}</td>
                                        <td>{{ tarea.porcentaje}}</td>
                                        <td>{{ tarea.Fcreacion}}</td>
                                        <td>{{ tarea.Ffinal}}</td>
                                        <td>
                                            <div class="text-center">
                                                <a href="{% url 'editar_tareas' tarea.id%}" 
                                                title="Editar" 
                                                class="btn btn-info btn-sm">
                                                    <i class="fa fa-edit"></i></a>
                                                <a href="{% url 'eliminar_tareas' tarea.id%}" 
                                                title="Eliminar" 
                                                class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash"></i></a>
                                                <a href="{% url 'lista_comentarios' tarea.id %}" 
                                                title="Comentar" 
                                                class="btn btn-info btn-sm">
                                                    <i class="fa fa-comment"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}                       
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
                <br>
                <div class="text-center">
                    <b>No se encontraron Tareas</b>
                </div>

        {% endif %}    

        
            
    {% block js %}
        {% if messages %}
            {% for m in messages %}
                <script>
                    Swal.fire({
                        "title":"Operación realizada!",
                        "text": "{{m}}",
                        "icon":"success"
                    });
                </script>
            {% endfor %}
        {% endif %}    


        {% if archived %}
            <!-- Modal -->
            <div
            id="exampleModal"  
            class="modal fade bd-example-modal-lg" 
            tabindex="-1" 
            role="dialog" 
            aria-labelledby="myLargeModalLabel" 
            aria-hidden="true"
            data-backdrop="static">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">La tarea ha sido finalizada con éxito</h5>
                            <!--button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button-->
                            </div>
                            <div class="modal-body" data-task="{{archived}}">
                            <h3 class="starrating_title">¡Califica la tarea!</h3>

                            <form method="post" action="{% url 'calificar_tarea' %}">
                                {% csrf_token %}

                                <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star">
                                        <i class="fa fa-star" ></i>
                                    </label>
                                    <input type="radio" id="star4" name="rating" value="4" />
                                    <label for="star4" title="4 star">
                                        <i class="fa fa-star" ></i>
                                    </label>
                                    <input type="radio" id="star3" name="rating" value="3" />
                                    <label for="star3" title="3 star">
                                        <i class="fa fa-star" ></i>
                                    </label>
                                    <input type="radio" id="star2" name="rating" value="2" />
                                    <label for="star2" title="2 star">
                                        <i class="fa fa-star" ></i>
                                    </label>
                                    <input type="radio" id="star1" name="rating" value="1" />
                                    <label for="star1" title="1 star">
                                        <i class="fa fa-star" ></i>
                                    </label>
                                </div>
                                <input type="hidden" name="task" value="{{archived}}">
                                <div class="modal-footer">
                                    <button id="btnCalificar" disabled="disabled" type="submit" class="btn btn-primary">Calificar</button>
                                  </div>
                            </form>
                    </div>
                </div>
                </div>

            <script>
                $(window).on('load', function() {
                $('#exampleModal').modal('show');
                });


                $('input[name="rating"]').on('click', function() {
                    $('#btnCalificar').prop('disabled', false);
                });
            </script>
        {% endif %}          

      
    {% endblock%}


{% endblock %}