{% extends "home.html"%}
{% load static %}


{% block link %}
        
{% endblock%}

{% block title %} Comentarios {% endblock %}


{% block content %}
    
    <h3>Comentarios</h3>


        {% if tareas %}
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Comentarios por Tarea</h6>
                
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tarea</th>
                                    <th>Acción</th>
                                </tr>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Tarea</th>
                                    <th>Acción</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for tarea in tareas %}
                                    <tr>
                                        <td>{{ tarea.id}}</td>
                                        <td>{{ tarea.tarea}}</td>
                                        <td>
                                            <div class="text-center">
                                                <a href="{% url 'lista_comentarios' tarea.id %}" class="btn btn-info">Ver</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}                       
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
                <br>
                <div class="text-center">
                    <b>No se encontraron Tareas</b>
                </div>

        {% endif %}    

        
    



{% endblock %}