{% extends "home.html"%}
{% load static %}


{% block link %}
        
{% endblock%}

{% block title %} Usuarios {% endblock %}


{% block content %}
    
    <h3>Usuarios</h3>

    {% if perms.auth.add_user%}
        <a href="{% url 'agregar_usuario' %}" class="btn btn-success main-add-button" title="Agregar"> <i class="fa fa-plus"></i></a>
    {% endif %}
    {% if usuarios %}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista de Usuarios</h6>
            
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Puesto</th>
                                <th>Correo</th>
                                <th>Telf</th>
                                <th style="width:7%">Acción</th>
                            </tr>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Puesto</th>
                                <th>Correo</th>
                                <th>Telf</th>
                                <th>Acción</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.id }}</td>
                                    <td>{{ usuario.username }}</td>
                                    <td>{{ usuario.first_name }}</td>
                                    <td>{{ usuario.last_name}}</td>
                                    <td>{{usuario.perfil.puesto }}</td>    
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.perfil.telf }}</td>
                                    <td>
                                        <a 
                                        title="Perfil" 
                                        href=" {% url 'perfil' usuario.id %}" 
                                        class="btn btn-info btn-sm">
                                            <i class="fas fa-user"></i>
                                        </a>
                                        <!-- <a 
                                            href="{% url 'eliminar_usuario' usuario.id %}" 
                                            class="btn btn-danger">Eliminar</a> -->
                                        {% if perms.auth.delete_user%}
                                        <a class="btn btn-danger action-button btn-sm" 
                                            title="Eliminar" 
                                            data-toggle="modal" 
                                            data-target="#myModal" 
                                            data-detail="{{ usuario.first_name }}|{% url 'eliminar_usuario' usuario.id %}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}    

    {% block js %}

    
        {% if messages %}
            {% for m in messages %}
                <script>
                    Swal.fire({
                        "title":"Operación realizada!",
                        "text": "{{m}}",
                        "icon":"success"
                    });
                </script>
            {% endfor %}
        {% endif %}    

    {% endblock%}


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Usuario</h4>
                <button 
                type="button" 
                class="close" 
                data-dismiss="modal" 
                aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está a punto de borrar a <b>TEXT</b>. ¿Desea continuar?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <a id="deleteReport" href="" class="btn btn-primary">Confirmar</a>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->



      {% block extrascripts %}

        <!-- Import Jquery library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <!-- Script Modal -->
        <script type="text/javascript">
      
            $(function () {
        


            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('detail').split('|') // Extract info from data-* attributes
                var name = recipient[0]
                var newUrl = recipient[1]
                    console.log(name, newUrl)            

                var modal = $(this)
                //modal.find('.modal-title').text('New message to ' + recipient)
                modal.find('.modal-body p b').text(name)
                modal.find('#deleteReport').attr("href", newUrl);
        
                modal.focus()
                })
        
            });
        
      </script>
      
    {% endblock %}





{% endblock %}








