{% extends "home.html"%}
{% load static %}


{% block link %}
        
{% endblock%}



{% block content %}
    
    <h3>Usuarios</h3>
    <a href="{% url 'agregar_usuario' %}" class="btn btn-success">Agregar</a>

        
    

    {% if usuarios %}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Lista de Usuarios</h6>
            
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Puesto</th>
                                <th>Correo</th>
                                <th>Telf</th>
                                <th>Acción</th>
                            </tr>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Puesto</th>
                                <th>Correo</th>
                                <th>Telf</th>
                                <th>Acción</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for usuario in usuarios %}
                                <tr>
                                    <td>{{ usuario.id}}</td>
                                    <td>{{ usuario.username}}</td>
                                    <td>{{ usuario.first_name }}</td>
                                    <td>{{ usuario.last_name}}</td>
                                    <td>{{usuario.perfil.puesto}}</td>    
                                    <td>{{ usuario.email }}</td>
                                    <td>{{ usuario.perfil.telf}}</td>
                                    <td>
                                        <a href=" {% url 'editar_usuario' usuario.id %}" class="btn btn-info">Editar</a>
                                        <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            {% endfor %}                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}    



        
    {% block js %}

    
        {% if messages %}
            {% for m in messages %}
                <script>
                    Swal.fire({
                        "title":"Operación realizada!",
                        "text": "{{m}}",
                        "icon":"success"
                    });
                </script>
            {% endfor %}
        {% endif %}    



      
    {% endblock%}


{% endblock %}








